{% extends "base.html.twig" %} {% block body %}

<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/account-navbar.html.twig") }}
<!-- end Header -->

<!-- Services section -->
  <div class="section pt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-12 pb-0">
          <a
                  style="display: block; margin-bottom: 50px"
                  href="{{ path('app_account') }}"
                  class="text-dark"
          >
            <i class="fas fa-arrow-left"></i> Retour</a
          >
        </div>

        <div class="col-12 col-lg-10 offset-lg-1">
          <!--  Listing 1 -->
          <div class="padding-30 pt-1  border-all border-radius hover-shadow  pt-0">
            <h4 class="fw-normal margin-0">Carte de visite</h4>
            <div class="container mt-0 mb-0">
              <div class="row mt-0 mb-0">
                <div class="col">
                  <div class="row">
                    <div class="col-md-3 border-right">
                      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        {% if userResume.photo  %}
                          <img class="rounded-circle mt-2" width="150px" src="{{ vich_uploader_asset(userResume, 'imageFile') }}" alt="">
                        {% else %}
                          <img class="rounded-circle mt-2" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        {% endif %}
                        <h6 class="font-weight-bold">{{ userResume.nomcomplet }}</h6>
                        <span class="text-black-50">{{ userResume.email }} </span>
                        <span> {{ userResume.telephone }} </span>
                      </div>
                    </div>
                    <div class="col-md-5 border-right">
                      <div class="p-1 py-2">
                        <div class="row mt-2">
                          <div class="p-2 mt-2">
                            <p>{{ userResume.presentation }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience">
                          <h5>Documents</h5>
                        </div><br>
                        <div class="col-md-12">
                          {% if userResume.cv %}
                          <a href="{{ asset('uploads/files/user/cvs/' ~ userResume.cv) }}" target="_blank" class="button button-fancy-1-outline ">Voir mon CV (PDF)</a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-end margin-top-0 margin-lg-top-20">
              {{ render_esi(path('app_profil')) }}
            </div>
          </div>
          <!--  Listing 2 -->
          <div class="padding-40 pl-0 pt-1 border-all border-radius hover-shadow margin-top-40 margin-lg-top-50">
            <h4 class="fw-normal margin-0">Mes Compétences</h4>
            <div class="container">

              {% if (userResume.skills | length)>0 %}
                {% for skill in userResume.skills %}
                <div class="row pt-2 ">
                  <div class="col">
                    <div class="row-cols-4">
                      <h6 class="col-12">{{ skill.title }}</h6>
                      <div class="col-auto">
                        {% for star in 1..skill.level %}
                          <span class="fa fa-star checked"></span>
                        {% endfor %}
                        {% if skill.level < 5 %}
                          {% for i in 1..(5 - skill.level) %}
                            <span class="fa fa-star"></span>
                          {% endfor %}
                        {% endif %}
                      </div>
                      <i class="col">
                        {% if skill.level == 1 %}
                          Novice
                        {% elseif skill.level == 2 %}
                          Débutant
                          {% elseif skill.level == 3 %}
                            Avancé
                            {% elseif skill.level == 4 %}
                              Compétent
                              {% else %}
                                Expert
                                {% endif %}
                      </i>
                    </div>
                  </div>
                <div class="col-md-8">
                  <p>
                    {{ skill.description }}
                  </p>
                </div>
                <div class="col col-lg-2">
                  <div class="row">
                    <div class="col">
                      {{ render_esi(path('app_profil_update_skill',{'id':skill.id})) }}
                    </div>
                    <div class="col">
                      {{ render_esi(path('app_profil_delete_skill',{'id':skill.id})) }}
                    </div>
                  </div>
                </div>
                <hr>
              </div>
                {% endfor %}
              {% else %}
                <div class="bg-grey padding-30 border-radius-15">
                  <p class="font-large">Aucune expérience pour l'instant</p>
                </div>
              {% endif %}
            </div>
            <div class="text-end margin-top-10 margin-lg-top-20">
              {{ render_esi(path('app_profil_add_skill')) }}
            </div>
          </div>
          <!--  Listing 3 -->
          <div class="padding-30 pl-0 pt-1 border-all border-radius hover-shadow margin-top-40 margin-lg-top-50">
            <h4 class="fw-normal margin-0 pb-4 pt-0">Langues</h4>
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-10 col-xl-10 col-xxl-10">
                {% if (userResume.languages | length)>0 %}
                <table class="table table-bordered table-hover offset-lg-1">
                  <thead>
                  <tr style="background-color: #eef2f6">
                    <th scope="col" class="upper">Langue</th>
                    <th scope="col" class="upper">Ecrite</th>
                    <th scope="col" class="upper">Parler</th>
                    <th scope="col" class="upper">Action</th>
                  </tr>
                  </thead>
                  <tbody>

                    {% for language in userResume.languages %}
                      <tr>
                        <td>{{ language.name }}</td>
                        <td>{{ language.languagewrite }}</td>
                        <td>{{ language.languagespeak }}</td>
                        <td class="text-center">
                          {{ render_esi(path('app_profil_update_language',{'id':language.id})) }}
                          &nbsp;&nbsp;
                          {{ render_esi(path('app_profil_delete_language',{'id':language.id})) }}
                        </td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <div class="bg-grey padding-30 border-radius-15">
                      <p class="font-large">Aucune langue pour l'instant</p>
                    </div>
                  {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="text-end margin-top-10 margin-lg-top-20">
              {{ render_esi(path('app_profil_add_language')) }}
            </div>
          </div>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
<!-- end container -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->

<!-- ***** JAVASCRIPTS ***** -->
{% endblock %}
