{% extends "base.html.twig" %} {% block body %}

<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/account-navbar.html.twig") }}
<!-- end Header -->

<!-- Services section -->
  <div class="section">
    <div class="container">
      <div class="row g-4">
        <div class="col-12 col-lg-12">
          <a
                  style="display: block; margin-bottom: 50px"
                  href="{{ path('app_account') }}"
                  class="text-dark"
          >
            <i class="fas fa-arrow-left"></i> Retour</a
          >
        </div>
        <div class="col-12 col-lg-10 offset-lg-1">
          <!-- Job Listing 1 -->
          <div class="padding-40 border-all border-radius hover-shadow">
            <h4 class="fw-normal margin-0">Carte de visite</h4>
            <div class="row g-3">
              <div class="col-6 col-sm-4 col-lg-3">
                <img class="border-radius" src="{{ asset('frontoffice/images/avatar_profile.png') }}" alt="">
              </div>
              <div class="col-12 col-sm-6">
                <h5 class="fw-normal">Mintoua Toupkandi</h5>
                <p>toupkandimintoua@gmail.com | +216 52432323</p>
              </div>
              <div class="col-12 col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa.</p>
                <h6 class="font-family-tertiary font-small fw-medium uppercase">Documents:</h6>
                <ul class="list-dash">
                  <li>Native-level proficiency in spoken and written English</li>
                  <li>Ability to travel on short notice</li>
                </ul>
              </div>
            </div>

            <div class="text-end margin-top-10 margin-lg-top-20">
              <a class="button-text-1" href="{{ path('app_profil') }}">Modifier</a>
            </div>
          </div>
          <!-- Job Listing 2 -->
          <div class="padding-40 border-all border-radius hover-shadow margin-top-50 margin-lg-top-70">
            <h4 class="fw-normal margin-0">Mes Compétences</h4>
            <div class="margin-bottom-10 margin-lg-bottom-20 text-black-03">
              <p><i class="fas fa-map-marker-alt margin-right-10"></i><span>Melbourne, AUS</span></p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
            <div class="margin-top-20">
              <h6 class="font-family-tertiary font-small fw-medium uppercase">Requirements:</h6>
              <ul class="list-dash">
                <li>Native-level proficiency in spoken and written English</li>
                <li>Ability to travel on short notice</li>
                <li>Self-driven and solution oriented</li>
                <li>Impeccable attention to detail</li>
                <li>3+ years of hands-on experience with project management</li>
              </ul>
            </div>
            <div class="text-end margin-top-10 margin-lg-top-20">
              {{ render(controller(
                'App\\Controller\\AccountController::addSkill'
              )) }}
            </div>
          </div>
          <!-- Job Listing 3 -->
          <div class="padding-40 border-all border-radius hover-shadow margin-top-50 margin-lg-top-70">
            <h4 class="fw-normal margin-0">Creative Director</h4>
            <div class="margin-bottom-10 margin-lg-bottom-20 text-black-03">
              <p><i class="fas fa-map-marker-alt margin-right-10"></i><span>Melbourne, AUS</span></p>
            </div>Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 135168 bytes)
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
            <div class="margin-top-20">
              <h6 class="font-family-tertiary font-small fw-medium uppercase">Requirements:</h6>
              <ul class="list-dash">
                <li>Native-level proficiency in spoken and written English</li>
                <li>Ability to travel on short notice</li>
                <li>Self-driven and solution oriented</li>
                <li>Impeccable attention to detail</li>
                <li>3+ years of hands-on experience with project management</li>
              </ul>
            </div>
            <div class="text-end margin-top-10 margin-lg-top-20">
              <a class="button-text-1" href="#">Apply Now</a>
            </div>
          </div>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
<!-- end container -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->

<!-- ***** JAVASCRIPTS ***** -->
{% endblock %}
