{% extends "base.html.twig" %} {% block body %}

<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/account-navbar.html.twig") }}
<!-- end Header -->

<!-- About section -->
<div class="section">
  <div class="container text-center">
    <div class="">
      <div class="row text-center">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <h2>
            {{ app.user.firstname }} {{ app.user.lastname }}, Bienvenue dans
            votre profil
          </h2>
          <div class="divider-width-50px">
            <hr class="bg-black-07" />
          </div>
          <p>
            cette espace à pour but de vous aider à faire les suivie de vos
            demandes.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end About section -->

<!-- Services section -->
<div class="section padding-top-0">
  <div class="container">
    <div class="row icon-5xl g-4 text-center">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="border-all border-radius padding-40 hover-shadow">
          <i class="far fa-user-circle text-dark"></i>
          <h5 class="fw-normal margin-top-10">informations personnels</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
          <a
            class="button-text-2 margin-top-20"
            href="{{ path('app_account_setting') }}"
            >Modifier</a
          >
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="border-all border-radius padding-40 hover-shadow">
          <i class="far fa-address-card text-dark"></i>
          <h5 class="fw-normal margin-top-10">Compléter mon profil</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
          <a
            class="button-text-2 margin-top-20"
            href="{{ path('app_account_resume') }}"
            >Voir plus</a
          >
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="border-all border-radius padding-40 hover-shadow">
          <i class="far fa-paper-plane text-dark"></i>
          <h5 class="fw-normal margin-top-10">Mes demande</h5>
          <p>Retrouver toutes vos demandes d'emplois dans cette section.</p>
          <a
            class="button-text-2 margin-top-20"
            href="{{ path('app_candidature') }}"
            >Voir plus</a
          >
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end container -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->

<!-- ***** JAVASCRIPTS ***** -->
{% endblock %}
