{% extends "base.html.twig" %} {% block body %}
<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- end Header -->

<!-- About section -->
<div class="section">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-12 col-lg-6">
        <img
          class="box-shadow-with-hover"
          src="{{ asset('frontoffice/') }}images/image-home-page-1.jpg"
          alt="image capital rh solutions"
        />
      </div>
      <div class="col-12 col-lg-6">
        <h4 class="fw-light margin-bottom-20 fw-bold">CAPITAL RH SOLUTIONS</h4>
        <p style="text-align: justify">
          spécialiste dans le placement de personnel recrute et place du
          personnel de maison hautement qualifié : majordome, gouvernant(e) de
          maison, gouvernant(e) d’enfant, employé(e) de maison, femme ou homme
          de ménage, intendant, jardinier, chauffeur… chez les particuliers,
          dans les entreprises et dans l’hôtellerie de luxe.
        </p>
        <p style="text-align: justify">
          Nous offrons à chacun de nos clients des solutions en phase avec leurs
          besoins en personnel ponctuel ou de plus longue durée.
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end About section -->

<!-- Services section -->
<div class="section padding-top-0">
  <div class="container">
    <div class="margin-bottom-70 text-center">
      <h6 class="uppercase fw-medium">nos services</h6>
    </div>
    <div class="row g-3 icon-5xl">
      <div class="col-12 col-lg-4">
        <div
          class="border-all border-radius-05 padding-30 padding-x-lg-40 padding-y-lg-50"
        >
          <i class="bi bi-star text-dark"></i>
          <h5 class="fw-normal margin-top-10">Branding</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div
          class="border-all border-radius-05 padding-30 padding-x-lg-40 padding-y-lg-50"
        >
          <i class="bi bi-megaphone text-dark"></i>
          <h5 class="fw-normal margin-top-10">Marketing</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div
          class="border-all border-radius-05 padding-30 padding-x-lg-40 padding-y-lg-50"
        >
          <i class="bi bi-chat-text text-dark"></i>
          <h5 class="fw-normal margin-top-10">Consulting</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
        </div>
      </div>
    </div>
    <div class="margin-top-30 text-center">
      <a
        class="button button-lg button-radius button-reveal-right-dark margin-top-30"
        href="{{ path('app_services') }}"
        ><i class="bi bi-arrow-right"></i><span>Voir tous</span></a
      >
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end Services section -->

<!-- Clients section -->
{#
<div class="section padding-top-0">
  <div class="container">
    <div class="margin-bottom-70 text-center">
      <div class="row g-4">
        <div
          class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3"
        >
          <h2 class="fw-light">Meet Our Clients</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor. Aenean massa.
          </p>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-12 col-lg-10 offset-lg-1">
        <ul class="clients-grid column-4">
          <li>
            <a href="#"
              ><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
#}
<!-- end Clients section -->

<!-- Testimonial section -->
<div class="section padding-top-0">
  <div class="container">
    <div class="margin-bottom-70 text-center">
      <h6 class="uppercase fw-medium">ce qu'on pense de nous</h6>
    </div>
    <div
      class="owl-carousel"
      data-owl-margin="30"
      data-owl-xs="1"
      data-owl-sm="1"
      data-owl-md="1"
      data-owl-lg="2"
      data-owl-xl="2"
      data-owl-nav="true"
    >
      <!-- Testimonial box 1 -->
      <div
        class="border-radius-05 bg-white border-all padding-20 padding-lg-30"
      >
        <div class="d-lg-flex justify-content-between margin-bottom-10">
          <div class="d-block d-lg-inline-block margin-bottom-10">
            <h5 class="fw-normal line-height-140 margin-0">Emiley Haley</h5>
            <span class="font-small fw-normal">Manager - Mono</span>
          </div>
          <div class="d-inline-block text-yellow">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
        </div>
        <p>
          "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          massa. Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus."
        </p>
      </div>
      <!-- Testimonial box 2 -->
      <div
        class="border-radius-05 bg-white border-all padding-20 padding-lg-30"
      >
        <div class="d-lg-flex justify-content-between margin-bottom-10">
          <div class="d-block d-lg-inline-block margin-bottom-10">
            <h5 class="fw-normal line-height-140 margin-0">Robert Vincent</h5>
            <span class="font-small fw-normal">Marketer - Mono</span>
          </div>
          <div class="d-inline-block text-yellow">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
        </div>
        <p>
          "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          massa. Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus."
        </p>
      </div>
      <!-- Testimonial box 3 -->
      <div
        class="border-radius-05 bg-white border-all padding-20 padding-lg-30"
      >
        <div class="d-lg-flex justify-content-between margin-bottom-10">
          <div class="d-block d-lg-inline-block margin-bottom-10">
            <h5 class="fw-normal line-height-140 margin-0">Andrew Palmer</h5>
            <span class="font-small fw-normal">Developer - Mono</span>
          </div>
          <div class="d-inline-block text-yellow">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
        </div>
        <p>
          "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          massa. Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus."
        </p>
      </div>
      <!-- Testimonial box 4 -->
      <div
        class="border-radius-05 bg-white border-all padding-20 padding-lg-30"
      >
        <div class="d-lg-flex justify-content-between margin-bottom-10">
          <div class="d-block d-lg-inline-block margin-bottom-10">
            <h5 class="fw-normal line-height-140 margin-0">Rodney Scott</h5>
            <span class="font-small fw-normal">Designer - Mono</span>
          </div>
          <div class="d-inline-block text-yellow">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
        </div>
        <p>
          "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          massa. Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus."
        </p>
      </div>
    </div>
    <!-- end owl-carousel -->
  </div>
  <!-- end container -->
</div>
<!-- end Testimonial section -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->
{% endblock %}
