{% extends "base.html.twig" %} {% block body %}
<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- end Header -->

<!-- About section -->
<div class="section">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-12 col-lg-6">
        <a
          class="lightbox-media-box border-radius-05"
          href="https://www.youtube.com/watch?v=W-j4QGAgNu8"
        >
          <img src="{{ asset('frontoffice/') }}images/col-1.jpg" alt="" />
          <i class="fas fa-play"></i>
        </a>
      </div>
      <div class="col-12 col-lg-6">
        <h4 class="fw-light margin-bottom-20">
          Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus.
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end About section -->

<!-- Services section -->
<div class="section padding-top-0">
  <div class="container">
    <div class="row g-3 icon-5xl">
      <div class="col-12 col-lg-4">
        <div
          class="border-all border-radius-05 padding-30 padding-x-lg-40 padding-y-lg-50"
        >
          <i class="bi bi-star text-dark"></i>
          <h5 class="fw-normal margin-top-10">Branding</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div
          class="border-all border-radius-05 padding-30 padding-x-lg-40 padding-y-lg-50"
        >
          <i class="bi bi-megaphone text-dark"></i>
          <h5 class="fw-normal margin-top-10">Marketing</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div
          class="border-all border-radius-05 padding-30 padding-x-lg-40 padding-y-lg-50"
        >
          <i class="bi bi-chat-text text-dark"></i>
          <h5 class="fw-normal margin-top-10">Consulting</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end Services section -->

<!-- Clients section -->
<div class="section padding-top-0">
  <div class="container">
    <div class="margin-bottom-70 text-center">
      <div class="row g-4">
        <div
          class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3"
        >
          <h2 class="fw-light">Meet Our Clients</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor. Aenean massa.
          </p>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-12 col-lg-10 offset-lg-1">
        <ul class="clients-grid column-4">
          <li>
            <a href="#"><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end Clients section -->

<!-- Testimonial section -->
<div class="section padding-top-0">
  <div class="container">
    <div class="margin-bottom-70 text-center">
      <h6 class="uppercase fw-medium">What People Say?</h6>
    </div>
    <div
      class="owl-carousel"
      data-owl-margin="30"
      data-owl-xs="1"
      data-owl-sm="1"
      data-owl-md="1"
      data-owl-lg="2"
      data-owl-xl="2"
      data-owl-nav="true"
    >
      <!-- Testimonial box 1 -->
      <div
        class="border-radius-05 bg-white border-all padding-20 padding-lg-30"
      >
        <div class="d-lg-flex justify-content-between margin-bottom-10">
          <div class="d-block d-lg-inline-block margin-bottom-10">
            <h5 class="fw-normal line-height-140 margin-0">Emiley Haley</h5>
            <span class="font-small fw-normal">Manager - Mono</span>
          </div>
          <div class="d-inline-block text-yellow">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
        </div>
        <p>
          "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          massa. Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus."
        </p>
      </div>
      <!-- Testimonial box 2 -->
      <div
        class="border-radius-05 bg-white border-all padding-20 padding-lg-30"
      >
        <div class="d-lg-flex justify-content-between margin-bottom-10">
          <div class="d-block d-lg-inline-block margin-bottom-10">
            <h5 class="fw-normal line-height-140 margin-0">Robert Vincent</h5>
            <span class="font-small fw-normal">Marketer - Mono</span>
          </div>
          <div class="d-inline-block text-yellow">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
        </div>
        <p>
          "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          massa. Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus."
        </p>
      </div>
      <!-- Testimonial box 3 -->
      <div
        class="border-radius-05 bg-white border-all padding-20 padding-lg-30"
      >
        <div class="d-lg-flex justify-content-between margin-bottom-10">
          <div class="d-block d-lg-inline-block margin-bottom-10">
            <h5 class="fw-normal line-height-140 margin-0">Andrew Palmer</h5>
            <span class="font-small fw-normal">Developer - Mono</span>
          </div>
          <div class="d-inline-block text-yellow">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
        </div>
        <p>
          "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          massa. Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus."
        </p>
      </div>
      <!-- Testimonial box 4 -->
      <div
        class="border-radius-05 bg-white border-all padding-20 padding-lg-30"
      >
        <div class="d-lg-flex justify-content-between margin-bottom-10">
          <div class="d-block d-lg-inline-block margin-bottom-10">
            <h5 class="fw-normal line-height-140 margin-0">Rodney Scott</h5>
            <span class="font-small fw-normal">Designer - Mono</span>
          </div>
          <div class="d-inline-block text-yellow">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
        </div>
        <p>
          "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          massa. Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus."
        </p>
      </div>
    </div>
    <!-- end owl-carousel -->
  </div>
  <!-- end container -->
</div>
<!-- end Testimonial section -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->
{% endblock %}
