{% extends "base.html.twig" %} {% block body %}
<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}

<!-- end Header -->

<!-- Hero section -->
<div
  class="owl-carousel owl-nav-overlay owl-dots-overlay"
  data-owl-nav="true"
  data-owl-dots="true"
  data-owl-items="1"
  data-owl-autoplay="true"
>
  <!-- Slider Item 1 -->
  <div
    class="bg-image"
    data-bg-src="{{ asset('frontoffice/') }}images/home-1.jpg"
  >
    <div class="section-xl bg-black-05">
      <div class="container text-center">
        <div class="row g-4">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <h3 class="fw-medium text-uppercase">
              VOTRE AGENCE DE RECRUTEMENT ET PLACEMENT DE PERSONNEL DE MAISON ET
              HÔTELIER
            </h3>
            <a
              class="button button-xl button-radius button-outline-white margin-top-20 margin-lg-top-30"
              href="{{ path('app_jobs') }}"
              >nos offres d'emplois</a
            >
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </div>
  <!-- Slider Item 2 -->
  <div
    class="bg-image"
    data-bg-src="{{ asset('frontoffice/') }}images/home-4.jpg"
  >
    <div class="section-xl bg-black-05">
      <div class="container text-center">
        <div class="row g-4">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <h3 class="fw-medium text-uppercase">
              PERSONNEL HAUTEMENT QUALIFIÉ ET EXPÉRIMENTÉ POUR UN SERVICE DE
              QUALITÉ
            </h3>
            <a
              class="button button-xl button-radius button-outline-white margin-top-20 margin-lg-top-30"
              href="{{ path('app_jobs') }}"
              >nos offres d'emplois</a
            >
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </div>
</div>
<!-- end owl-carousel -->
<!-- end Hero section -->

<!-- Services section -->

<!-- end Services section -->

<!-- About section -->
<div class="section padding-top-0" style="margin-top: 100px">
  <div class="container">
    <div class="row align-items-center g-5">
      <div class="col-12 col-lg-6" data-sal="slide-right" data-sal-delay="100">
        <img
          class="box-shadow-with-hover"
          src="{{ asset('frontoffice/') }}images/img-18.jpg"
          alt="image capital rh solutions"
        />
      </div>
      <div class="col-12 col-lg-6">
        <h3
          class="fw-bold margin-bottom-20 text-uppercase fs-4"
          style="color: #2a5b97"
        >
          capital rh solutions
        </h3>
        <p style="text-align: justify" class="fs-6 text-dark">
          Vous recherchez du personnel de maison , du personnel hôtelier, un
          Baby-sitter ou un cuisinier ? Nous vous facilitons la recherche en
          sélectionnant pour vous des profils expérimentés et compétents. Nous
          étudions rigoureusement chaque demande afin de vous proposer le
          candidat qui vous donnera satisfaction. CAPITAL RH Solutions à travers
          le personnel mis à disposition contribue ainsi à vous simplifier la
          vie.
        </p>
        <a
          class="button button-lg button-radius button-reveal-right-dark margin-top-30"
          href="{{ path('app_about') }}"
          ><i class="bi bi-arrow-right"></i><span>savoir plus sur nous</span></a
        >
      </div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end About section -->

<!-- Testimonial section -->

<!-- Facts/Counter section -->
<div
  class="section-lg bg-image parallax"
  data-bg-src="{{ asset('frontoffice/') }}images/back-6.jpg"
>
  <div class="bg-black-05">
    <div class="container text-center">
      <div class="row">
        <h2 class="text-uppercase">quelques chiffres clés</h2>
      </div>
      <div class="row g-4">
        <div class="col-12 col-sm-6 col-lg-4">
          <h1 class="display-4 fw-light"><span class="counter">10</span>+</h1>
          <p>collaborateurs</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <h1 class="display-4 fw-light"><span class="counter">20</span>+</h1>
          <p>clients satisfaits</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <h1 class="display-4 fw-light"><span class="counter">200</span>+</h1>
          <p>personnes placées</p>
        </div>
        >
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</div>
<!-- end Facts/Counter section -->

<!-- Careers section -->
<div class="section bg-grey-lighter">
  <div class="container">
    <div class="margin-bottom-50">
      <div class="row g-4">
        <div
          class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center"
        >
          <h2 class="fw-normal text-uppercase">Offres d'emploi récentes</h2>
        </div>
      </div>
      <!-- end row -->
    </div>
    <div class="masonry masonry-column-3 masonry-spacing-40">
      {% for job in jobs %}
      <div class="masonry-item">
        <div class="bg-white border-radius box-shadow-with-hover padding-30">
          <h5 class="fw-normal margin-0">{{ job.title }}</h5>
          <div class="margin-bottom-10 margin-lg-bottom-20 text-black-03">
            <p>
              <i class="bi bi-clock-history margin-right-10"></i
              ><span>
                {% if job.expiredAt is not empty %}
                {{ job.expiredAt().format("M") }}
                {{ job.expiredAt().format("j") }},
                {{ job.expiredAt().format("Y") }}
                {% else %} Durée indéterminée {% endif %}
              </span>
            </p>
            <p>
              <i class="fas fa-map-marker-alt margin-right-10"></i>{% for
              adresse in job.adresses %}
              <span>{{ adresse }}</span>
              {% endfor %}
            </p>
          </div>
          <p class="text-dark">
            {{ job.description | striptags | slice(0,200)  | raw }} ...
          </p>
          <div class="text-end margin-top-10 margin-lg-top-20">
            <a
              class="button-text-1"
              href="{{ path('app_job_detail', { slug: job.slug }) }}"
              >consulter</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- end row -->
    <div class="margin-top-50 text-center">
      <a
        class="button button-lg button-radius button-reveal-right-dark margin-top-30"
        href="{{ path('app_jobs') }}"
        ><i class="bi bi-arrow-right"></i><span>Voir plus</span></a
      >
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end Careers section -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->

{% endblock %}
