{% extends "base.html.twig" %} {% block body %}
<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}

<!-- end Header -->

<!-- Hero section -->
<div
  class="owl-carousel owl-nav-overlay owl-dots-overlay"
  data-owl-nav="true"
  data-owl-dots="true"
  data-owl-items="1"
  data-owl-autoplay="true"
>
  <!-- Slider Item 1 -->
  <div
    class="bg-image"
    data-bg-src="{{ asset('frontoffice/') }}images/back-5.jpg"
  >
    <div class="section-xl bg-black-05">
      <div class="container text-center">
        <div class="row g-4">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <h1 class="display-4 fw-medium line-height-140">
              Leading Talent Acquisition Specialist
            </h1>
            <a
              class="button button-xl button-radius button-outline-white margin-top-20 margin-lg-top-30"
              href="{{ path('app_jobs') }}"
              >nos offres d'emplois</a
            >
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </div>
  <!-- Slider Item 2 -->
  <div
    class="bg-image"
    data-bg-src="{{ asset('frontoffice/') }}images/back-4.jpg"
  >
    <div class="section-xl bg-black-05">
      <div class="container text-center">
        <div class="row g-4">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <h1 class="display-4 fw-medium line-height-140">
              Leading Talent Acquisition Specialist
            </h1>
            <a
              class="button button-xl button-radius button-outline-white margin-top-20 margin-lg-top-30"
              href="{{ path('app_jobs') }}"
              >nos offres d'emplois</a
            >
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </div>
</div>
<!-- end owl-carousel -->
<!-- end Hero section -->

<!-- Services section -->
<div class="section">
  <div class="container">
    <div class="row icon-5xl g-4 text-center">
      <!-- Icon text box 1 -->
      <div class="col-12 col-md-4">
        <i class="fas fa-users text-dark"></i>
        <h5 class="fw-normal margin-top-10">Recruiting</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
      </div>
      <!-- Icon text box 2 -->
      <div class="col-12 col-md-4">
        <i class="fas fa-users-cog text-dark"></i>
        <h5 class="fw-normal margin-top-10">HR Consulting</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
      </div>
      <!-- Icon text box 3 -->
      <div class="col-12 col-md-4">
        <i class="fas fa-people-arrows text-dark"></i>
        <h5 class="fw-normal margin-top-10">Outsourcing</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end Services section -->

<!-- About section -->
<div class="section padding-top-0">
  <div class="container">
    <div class="row align-items-center g-5">
      <div class="col-12 col-lg-6">
        <img
          class="box-shadow-with-hover"
          src="{{ asset('frontoffice/') }}images/col-1.jpg"
          alt=""
        />
      </div>
      <div class="col-12 col-lg-6">
        <h3 class="fw-light margin-bottom-20">
          We believe that teamwork divides the tasks and multiplies the success
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus.
        </p>
        <a
          class="button button-lg button-radius button-reveal-right-dark margin-top-30"
          href="#"
          ><i class="bi bi-arrow-right"></i><span>More About Us</span></a
        >
      </div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end About section -->

<!-- Testimonial section -->
<div class="section padding-top-0">
  <div class="container">
    <div
      class="owl-carousel"
      data-owl-items="1"
      data-owl-dots="false"
      data-owl-nav="true"
    >
      <!-- Testimonial box 1 -->
      <div class="testimonial-box">
        <img
          class="margin-bottom-20 margin-lg-bottom-30"
          src="{{ asset('frontoffice/') }}images/col-4-square.jpg"
          alt=""
        />
        <p class="margin-bottom-20">
          "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          massa. Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus."
        </p>
        <h5 class="fw-normal margin-0 line-height-140">Emiley Haley</h5>
        <span class="font-family-tertiary font-small uppercase"
          >COO - Mono</span
        >
      </div>
      <!-- Testimonial box 2 -->
      <div class="testimonial-box">
        <img
          class="margin-bottom-20 margin-lg-bottom-30"
          src="{{ asset('frontoffice/') }}images/col-4-square.jpg"
          alt=""
        />
        <p class="margin-bottom-20">
          "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          massa. Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus."
        </p>
        <h5 class="fw-normal margin-0 line-height-140">Andrew Palmer</h5>
        <span class="font-family-tertiary font-small uppercase"
          >CMO - Mono</span
        >
      </div>
      <!-- Testimonial box 3 -->
      <div class="testimonial-box">
        <img
          class="margin-bottom-20 margin-lg-bottom-30"
          src="{{ asset('frontoffice/') }}images/col-4-square.jpg"
          alt=""
        />
        <p class="margin-bottom-20">
          "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          massa. Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus."
        </p>
        <h5 class="fw-normal margin-0 line-height-140">Anna Mullen</h5>
        <span class="font-family-tertiary font-small uppercase"
          >CFO - Mono</span
        >
      </div>
    </div>
    <!-- end owl-carousel -->
  </div>
  <!-- end container -->
</div>
<!-- end Testimonial section -->

<!-- Facts/Counter section -->
<div
  class="section-lg bg-image parallax"
  data-bg-src="{{ asset('frontoffice/') }}images/back-6.jpg"
>
  <div class="bg-black-05">
    <div class="container text-center">
      <div class="row">
        <h2>Nos chiffres clés</h2>
      </div>
      <div class="row g-4">
        <div class="col-12 col-sm-6 col-lg-3">
          <h1 class="display-4 fw-light"><span class="counter">100</span>+</h1>
          <p>Counter</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <h1 class="display-4 fw-light"><span class="counter">100</span>+</h1>
          <p>Counter</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <h1 class="display-4 fw-light"><span class="counter">100</span>+</h1>
          <p>Counter</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <h1 class="display-4 fw-light"><span class="counter">100</span>+</h1>
          <p>Counter</p>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</div>
<!-- end Facts/Counter section -->

<!-- Clients section -->
<div class="section">
  <div class="container">
    <div class="margin-bottom-50 margin-lg-bottom-60">
      <div class="row g-4">
        <div
          class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center"
        >
          <h2 class="fw-normal">Ils nous font confiance</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
            blandit turpis cursus in hac
          </p>
        </div>
      </div>
      <!-- end row -->
    </div>
    <div
      class="owl-carousel"
      data-owl-nav="true"
      data-owl-dots="false"
      data-owl-margin="50"
      data-owl-autoplay="true"
      data-owl-xs="1"
      data-owl-sm="2"
      data-owl-md="3"
      data-owl-lg="4"
      data-owl-xl="5"
    >
      <!-- Client box 1 -->
      <div class="client-box">
        <a href="#">
          <img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" />
        </a>
      </div>
      <!-- Client box 2 -->
      <div class="client-box">
        <a href="#">
          <img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" />
        </a>
      </div>
      <!-- Client box 3 -->
      <div class="client-box">
        <a href="#">
          <img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" />
        </a>
      </div>
      <!-- Client box 4 -->
      <div class="client-box">
        <a href="#">
          <img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" />
        </a>
      </div>
      <!-- Client box 5 -->
      <div class="client-box">
        <a href="#">
          <img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" />
        </a>
      </div>
      <!-- Client box 6 -->
      <div class="client-box">
        <a href="#">
          <img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" />
        </a>
      </div>
      <!-- Client box 7 -->
      <div class="client-box">
        <a href="#">
          <img src="{{ asset('frontoffice/') }}images/col-5.jpg" alt="" />
        </a>
      </div>
    </div>
    <!-- end owl-carousel -->
  </div>
  <!-- end container -->
</div>
<!-- end Clients section -->

<!-- Careers section -->
<div class="section bg-grey-lighter">
  <div class="container">
    <div class="margin-bottom-50">
      <div class="row g-4">
        <div
          class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center"
        >
          <h2 class="fw-normal">Offres d'emplois récentes</h2>
        </div>
      </div>
      <!-- end row -->
    </div>
    <div class="masonry masonry-column-3 masonry-spacing-40">
      <!-- 1 -->
      <div class="masonry-item">
        <div class="bg-white border-radius box-shadow-with-hover padding-30">
          <h5 class="fw-normal margin-0">Web Developer</h5>
          <div class="margin-bottom-10 margin-lg-bottom-20 text-black-03">
            <p>
              <i class="fas fa-map-marker-alt margin-right-10"></i
              ><span>Remote</span>
            </p>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            massa. Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus.
          </p>
          <div class="text-end margin-top-10 margin-lg-top-20">
            <a class="button-text-1" href="#">Apply Now</a>
          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="masonry-item">
        <div class="bg-white border-radius box-shadow-with-hover padding-30">
          <h5 class="fw-normal margin-0">Project Manager</h5>
          <div class="margin-bottom-10 margin-lg-bottom-20 text-black-03">
            <p>
              <i class="fas fa-map-marker-alt margin-right-10"></i
              ><span>Melbourne, AUS</span>
            </p>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
          <div class="text-end margin-top-10 margin-lg-top-20">
            <a class="button-text-1" href="#">Apply Now</a>
          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="masonry-item">
        <div class="bg-white border-radius box-shadow-with-hover padding-30">
          <h5 class="fw-normal margin-0">Graphic Designer</h5>
          <div class="margin-bottom-10 margin-lg-bottom-20 text-black-03">
            <p>
              <i class="fas fa-map-marker-alt margin-right-10"></i
              ><span>Remote</span>
            </p>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            massa. Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus.
          </p>
          <div class="text-end margin-top-10 margin-lg-top-20">
            <a class="button-text-1" href="#">Apply Now</a>
          </div>
        </div>
      </div>
      <!-- 4 -->
      <div class="masonry-item">
        <div class="bg-white border-radius box-shadow-with-hover padding-30">
          <h5 class="fw-normal margin-0">Creative Director</h5>
          <div class="margin-bottom-10 margin-lg-bottom-20 text-black-03">
            <p>
              <i class="fas fa-map-marker-alt margin-right-10"></i
              ><span>Melbourne, AUS</span>
            </p>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            massa. Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus.
          </p>
          <div class="text-end margin-top-10 margin-lg-top-20">
            <a class="button-text-1" href="#">Apply Now</a>
          </div>
        </div>
      </div>
      <!-- 5 -->
      <div class="masonry-item">
        <div class="bg-white border-radius box-shadow-with-hover padding-30">
          <h5 class="fw-normal margin-0">Marketing Specialist</h5>
          <div class="margin-bottom-10 margin-lg-bottom-20 text-black-03">
            <p>
              <i class="fas fa-map-marker-alt margin-right-10"></i
              ><span>Melbourne, AUS</span>
            </p>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
          <div class="text-end margin-top-10 margin-lg-top-20">
            <a class="button-text-1" href="#">Apply Now</a>
          </div>
        </div>
      </div>
      <!-- 6 -->
      <div class="masonry-item">
        <div class="bg-white border-radius box-shadow-with-hover padding-30">
          <h5 class="fw-normal margin-0">Photographer</h5>
          <div class="margin-bottom-10 margin-lg-bottom-20 text-black-03">
            <p>
              <i class="fas fa-map-marker-alt margin-right-10"></i
              ><span>Melbourne, AUS</span>
            </p>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
          <div class="text-end margin-top-10 margin-lg-top-20">
            <a class="button-text-1" href="#">Apply Now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div class="margin-top-50 text-center">
      <a
        class="button button-lg button-radius button-reveal-right-dark margin-top-30"
        href="#"
        ><i class="bi bi-arrow-right"></i><span>View All Listings</span></a
      >
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end Careers section -->

<!-- Team section -->
<div class="section">
  <div class="container">
    <div class="margin-bottom-50 margin-lg-bottom-60">
      <div class="row g-4">
        <div
          class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center"
        >
          <h2 class="fw-normal">Meet Our Team</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
            blandit turpis cursus in hac
          </p>
        </div>
      </div>
      <!-- end row -->
    </div>
    <div class="row g-3 team-wrapper">
      <!-- Team box 1 -->
      <div class="col-12 col-sm-6 col-lg-3 team-box">
        <div class="team-img">
          <img
            src="{{ asset('frontoffice/') }}images/col-2-square.jpg"
            alt=""
          /><!-- image source -->
          <!-- social links -->
          <div>
            <ul>
              <li>
                <a href="#"><i class="bi bi-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="margin-bottom-10">
          <h6 class="fw-normal margin-0">Brenda Johnson</h6>
          <span class="font-family-tertiary font-small uppercase"
            >Recruiter</span
          >
        </div>
      </div>
      <!-- Team box 2 -->
      <div class="col-12 col-sm-6 col-lg-3 team-box">
        <div class="team-img">
          <img
            src="{{ asset('frontoffice/') }}images/col-2-square.jpg"
            alt=""
          /><!-- image source -->
          <!-- social links -->
          <div>
            <ul>
              <li>
                <a href="#"><i class="bi bi-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="margin-bottom-10">
          <h6 class="fw-normal margin-0">Brenda Johnson</h6>
          <span class="font-family-tertiary font-small uppercase"
            >Recruiter</span
          >
        </div>
      </div>
      <!-- Team box 3 -->
      <div class="col-12 col-sm-6 col-lg-3 team-box">
        <div class="team-img">
          <img
            src="{{ asset('frontoffice/') }}images/col-2-square.jpg"
            alt=""
          /><!-- image source -->
          <!-- social links -->
          <div>
            <ul>
              <li>
                <a href="#"><i class="bi bi-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="margin-bottom-10">
          <h6 class="fw-normal margin-0">Brenda Johnson</h6>
          <span class="font-family-tertiary font-small uppercase"
            >Recruiter</span
          >
        </div>
      </div>
      <!-- Team box 4 -->
      <div class="col-12 col-sm-6 col-lg-3 team-box">
        <div class="team-img">
          <img
            src="{{ asset('frontoffice/') }}images/col-2-square.jpg"
            alt=""
          /><!-- image source -->
          <!-- social links -->
          <div>
            <ul>
              <li>
                <a href="#"><i class="bi bi-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="margin-bottom-10">
          <h6 class="fw-normal margin-0">Brenda Johnson</h6>
          <span class="font-family-tertiary font-small uppercase"
            >Recruiter</span
          >
        </div>
      </div>
      <!-- Team box 5 -->
      <div class="col-12 col-sm-6 col-lg-3 team-box">
        <div class="team-img">
          <img
            src="{{ asset('frontoffice/') }}images/col-2-square.jpg"
            alt=""
          /><!-- image source -->
          <!-- social links -->
          <div>
            <ul>
              <li>
                <a href="#"><i class="bi bi-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="margin-bottom-10">
          <h6 class="fw-normal margin-0">Brenda Johnson</h6>
          <span class="font-family-tertiary font-small uppercase"
            >Recruiter</span
          >
        </div>
      </div>
      <!-- Team box 6 -->
      <div class="col-12 col-sm-6 col-lg-3 team-box">
        <div class="team-img">
          <img
            src="{{ asset('frontoffice/') }}images/col-2-square.jpg"
            alt=""
          /><!-- image source -->
          <!-- social links -->
          <div>
            <ul>
              <li>
                <a href="#"><i class="bi bi-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="margin-bottom-10">
          <h6 class="fw-normal margin-0">Brenda Johnson</h6>
          <span class="font-family-tertiary font-small uppercase"
            >Recruiter</span
          >
        </div>
      </div>
      <!-- Team box 7 -->
      <div class="col-12 col-sm-6 col-lg-3 team-box">
        <div class="team-img">
          <img
            src="{{ asset('frontoffice/') }}images/col-2-square.jpg"
            alt=""
          /><!-- image source -->
          <!-- social links -->
          <div>
            <ul>
              <li>
                <a href="#"><i class="bi bi-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="margin-bottom-10">
          <h6 class="fw-normal margin-0">Brenda Johnson</h6>
          <span class="font-family-tertiary font-small uppercase"
            >Recruiter</span
          >
        </div>
      </div>
      <!-- Team box 8 -->
      <div class="col-12 col-sm-6 col-lg-3 team-box">
        <div class="team-img">
          <img
            src="{{ asset('frontoffice/') }}images/col-2-square.jpg"
            alt=""
          /><!-- image source -->
          <!-- social links -->
          <div>
            <ul>
              <li>
                <a href="#"><i class="bi bi-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="margin-bottom-10">
          <h6 class="fw-normal margin-0">Brenda Johnson</h6>
          <span class="font-family-tertiary font-small uppercase"
            >Recruiter</span
          >
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end Team section -->

<!-- Parallax section -->
<div
  class="section-xl bg-image parallax"
  data-bg-src="{{ asset('frontoffice/') }}images/background.jpg"
>
  <div class="bg-black-05">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-8 col-xl-7">
          <h1 class="fw-light">Feel free to ask any questions</h1>
          <p class="font-large">
            Etiam sit amet orci eget eros faucibus tincidunt.
          </p>
        </div>
        <div class="col-12 col-lg-4 col-xl-5 text-lg-end">
          <a
            class="button button-xl button-radius button-reveal-right-outline-white"
            href="#"
            ><i class="bi bi-arrow-right"></i><span>Get In Touch</span></a
          >
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</div>
<!-- end Parallax section -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->

{% endblock %}
