{% extends "base.html.twig" %} {% block body %}
<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- end Header -->

<!-- Hero section -->
{#
<div class="section-xs bg-grey-lighter" style="margin-bottom: -50px">
  <div class="container text-center">
    <h3 class="font-family-secondary">
      Mise à disposition du personnel de maison
    </h3>
  </div>
</div>
#}
<!-- end Hero section -->

{#
<div class="section-sm">
  <div class="container">
    <div class="row icon-5xl g-4 text-center">
      <!-- Icon text box 1 -->
      <div class="col-12 col-md-4">
        <i class="fas fa-search-plus" style="color: #2a5b97"></i>
        <h5 class="fw-normal margin-top-10 text-uppercase">
          Étude de vos besoins
        </h5>
        <p style="text-align: justify">
          Que ce soit pour une demande de femme de ménage, de majordome, de
          nanny ou de chauffeur, chaque candidature reçue est étudiée avec le
          plus grand soin, car nous voulons vous proposer le candidat idéal,
          celui dont les compétences et la motivation correspondent à vos
          besoins et à vos attentes.
        </p>
      </div>
      <!-- Icon text box 2 -->
      <div class="col-12 col-md-4">
        <i class="fas fa-user-check" style="color: #2a5b97"></i>
        <h5 class="fw-normal margin-top-10 text-uppercase">
          Recherche du candidat
        </h5>
        <p style="text-align: justify">
          Nous étudions ensemble vos besoins, vos attentes, votre profil de
          candidat idéal, ce que vous voulez, ce que vous ne voulez pas, afin de
          cerner au mieux votre demande. Cette étude terminée nous commençons
          notre recherche.
        </p>
      </div>
      <!-- Icon text box 3 -->
      <div class="col-12 col-md-4">
        <i class="fab fa-hire-a-helper" style="color: #2a5b97"></i>
        <h5 class="fw-normal margin-top-10 text-uppercase">
          Processus de recrutement
        </h5>
        <p style="text-align: justify">
          Après étude des certificats, diplômes et lettres de recommandation…
          les candidats aux profils requis sont contactés pour un entretien
          téléphonique. Ceux qui sont sélectionnés sont ensuite convoqués pour
          une entrevue avec l’un de nos responsables en recrutement.
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
#}

<!-- section -->
<div class="section">
  <div class="container">
    <h4
      class="fw-normal margin-top-10 text-uppercase text-center margin-bottom-40 text-bold"
    >
      NOUS AVONS À DISPOSITION POUR VOTRE FAMILLE des
    </h4>
    <!-- box 1 -->
    <div class="row align-items-center g-5">
      <div class="col-12 col-md-6">
        <img
          class="border-radius hover-shadow hover-float"
          src="{{ asset('frontoffice/') }}images/img-13.jpg"
          alt="image femme de ménage capital rh solutions"
        />
      </div>
      <div class="col-12 col-md-6">
        <h4>Aide ménager</h4>
        <p style="text-align: justify">
          elle s’occupe de l’entretien ménager de votre résidence selon vos
          directives. Pour votre satisfaction elle fera preuve de discrétion et
          professionnalisme dans l’accomplissement de sa mission. Ses tâches et
          ses heures de travail seront fonction de votre demande.
        </p>
      </div>
    </div>
    <!-- box 2 -->
    <div class="row align-items-center g-5 margin-top-50 text-md-end">
      <div class="col-12 col-md-6 order-md-2">
        <img
          class="border-radius hover-shadow hover-float"
          src="{{ asset('frontoffice/') }}images/img-14.jpg"
          alt="image baby sitter capital rh solutions"
        />
      </div>
      <div class="col-12 col-md-6 order-md-1">
        <h4>baby sitter</h4>
        <p style="text-align: justify">
          Elle est la gardienne de vos enfants. Douce, soucieuse et patiente ,
          elle a également le sens de la maternité. Étant comme un second
          parent, elle saura veiller sur vos enfants et prendre soin d’eux, afin
          qu’ils puissent s’épanouir et grandir normalement.
        </p>
      </div>
    </div>
    <!-- box 3 -->
    <div class="row align-items-center g-5 margin-top-50">
      <div class="col-12 col-md-6">
        <img
          class="border-radius hover-shadow hover-float"
          src="{{ asset('frontoffice/') }}images/img-15.jpg"
          alt="image cuisinier capital rh solutions"
        />
      </div>
      <div class="col-12 col-md-6">
        <h4>Cuisiner</h4>
        <p style="text-align: justify">
          il a un rôle important dans votre maison. Il cuisinera pour vous
          divers mets, dressera la table et la salle à manger. En tant que
          professionnel de la cuisine, il veillera toujours à respecter les
          règles d’hygiène, à sélectionner les produits de qualité pour la
          cuisson et nettoyer la cuisine après préparation.
        </p>
      </div>
    </div>
    <!-- box 4 -->
    <div class="row align-items-center g-5 margin-top-50 text-md-end">
      <div class="col-12 col-md-6 order-md-2">
        <img
          class="border-radius hover-shadow hover-float"
          src="{{ asset('frontoffice/') }}images/img-16.jpg"
          alt="image chauffeur capital rh solutions"
        />
      </div>
      <div class="col-12 col-md-6 order-md-1">
        <h4>Chauffeur</h4>
        <p style="text-align: justify">
          Il est en charge du transport des personnes ou des marchandises. Étant
          responsables de votre sécurité ou celles de vos marchandises durant
          les déplacements, nos chauffeurs expérimentés assureront avec prudence
          discrétion leurs missions. Ils veilleront également à l’entretien de
          vos véhicules.
        </p>
      </div>
    </div>
    <div class="row align-items-center g-5 margin-top-50">
      <div class="col-12 col-md-6">
        <img
          class="border-radius hover-shadow hover-float"
          src="{{ asset('frontoffice/') }}images/img-17.jpg"
          alt="image jardinier capital rh solutions"
        />
      </div>
      <div class="col-12 col-md-6">
        <h4>Jardinier</h4>
        <p style="text-align: justify">
          c’est un employé dont toute maison dotée d’un espace vert a
          obligatoirement besoin. Nos jardiniers sauront prendre soin de votre
          jardin et veiller à l’entretien de vos différentes plantes.
        </p>
      </div>
    </div>
  </div>
  <!-- end container -->
</div>

<!-- end section -->

{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
<!-- end Scroll to top button -->

{% endblock %}
