<div class="header right light">
  <div class="container">
    <!-- Logo -->
    <div class="header-logo">
      <img
        class="logo-dark"
        src="{{ asset('frontoffice/') }}images/logo-capital-rh-solution.png"
        alt=""
      />
    </div>
    <!-- Menu -->
    <div class="header-menu">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_services') }}">Nos services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_jobs') }}">Offres d'emplois</a>
        </li>
      </ul>
    </div>
    <!-- Menu Extra -->
    <div class="header-menu-extra">
      <ul class="list-inline">
        <li>
          <a title="déconnexion" href="{{ path('app_logout') }}"
            ><i class="fas fa-sign-out-alt"></i
          ></a>
        </li>
        <li>
          <a href="#" title="page Facebook k-pital solutions" target="_blank"
            ><i class="bi bi-facebook"></i
          ></a>
        </li>
        <li>
          <a href="#" title="Linkedin k-pital solutions" target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
        </li>
      </ul>
    </div>
    <!-- Menu Toggle -->
    <button class="header-toggle">
      <span></span>
    </button>
  </div>
  <!-- end container -->
</div>
