{% extends "base.html.twig" %} {% block body %}

<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- end Header -->
{% for job in jobs %}

<div class="section-sm bg-grey-lighter">
  <div class="container text-center">
    <h3 class="fw-bold text-uppercase">
      secteur d'activité : {{ job.categoryJob | upper }}
    </h3>
  </div>
  <!-- end container -->
</div>

<!-- Blog section  -->
<div class="section">
  <div class="container">
    <div class="row g-5">
      <!-- Blog Posts -->
      <div class="col-12 col-lg-8">
        <!-- Blog Post box 1 -->
        <div class="margin-bottom-50">
          <div class="hoverbox-8">
            <a href="#">
              <img
                src="{{ asset('uploads/images/jobImages'~asset(job.image)) | imagine_filter('job_signe_image')}}"
                data-src="{{ absolute_url(asset('uploads/images/jobImages'~asset(job.image))) | imagine_filter('job_signe_image')}}"
                alt="image  offre d'offre d'emplois {{ job.slug }}"
              />
            </a>
          </div>
          <div class="margin-top-30">
            <div class="d-flex justify-content-between margin-bottom-10">
              <div class="d-inline-flex">
                <a
                  class="font-family-tertiary font-small fw-normal uppercase"
                  href="#"
                  >{{ job.categoryJob }}</a
                >
              </div>
              <div class="d-inline-flex">
                <span>
                  {% if job.expiredAt is not empty %}
                  {{ job.expiredAt().format("M") }}
                  {{ job.expiredAt().format("j") }},
                  {{ job.expiredAt().format("Y") }}
                  {% else %} Durée indéterminée {% endif %}
                </span>
              </div>
            </div>
            <h5>
              {{ job.title | upper }}
            </h5>
            <p>
              {{ job.description | raw }}
            </p>
            {# section modal box #}
            <!-- Button trigger modal -->

            {% if app.user %}
            <a
              class="button button-lg button-radius button-reveal-right-outline-dark margin-top-10"
              {#
              href="{{ path('app_job_detail', { slug: job.slug }) }}"
              #}
              data-toggle="modal"
              data-target="#applyModal"
            >
              <i class="bi bi-arrow-right"></i><span>Postuler</span>
            </a>
            {% else %}
            <a
              class="button button-lg button-radius button-reveal-right-outline-dark margin-top-10"
              href="{{ path('app_login') }}"
            >
              <i class="bi bi-arrow-right"></i><span>Postuler</span>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- end Blog Posts -->

      <!-- Blog Sidebar -->
      <div class="col-12 col-lg-4 sidebar-wrapper">
        <!-- Sidebar box 1 - About me -->
        <div class="sidebar-box text-center">
          <h6 class="font-small fw-normal uppercase">K-pital rh solutions</h6>
          <img
            class="img-circle-md margin-bottom-20"
            src="{{ asset('frontoffice/') }}images/image-blank-author.jpg"
            alt="logo K-PITAL RH SOLUTIONS"
          />
          <p class="text-dark">{{ job.categoryJob.description }}.</p>
          <ul class="list-inline margin-top-20">
            <li>
              <a href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <!-- Sidebar box 2 - Categories -->
        <div class="sidebar-box">
          <h6 class="font-small fw-normal uppercase">
            Quelques secteurs d'activités
          </h6>
          <ul class="list-category">
            {% for categoryJob in categoriesJob %}
            <li>
              <a
                title="toutes les offres d'emplois disponibles dans le secteur d'activité {{
                  categoryJob.slug
                }} "
                href="{{
                  path('app_job_by_category', { slug: categoryJob.slug })
                }}"
                >{{ categoryJob.designation }}
                <span>{{ categoryJob.jobs | length }}</span></a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- Sidebar box 3 - Popular Posts -->
        <div class="sidebar-box">
          <h6 class="font-small fw-normal uppercase">Offres récentes</h6>
          <!-- Popular post 1 -->
          {% for recentJob in recentJobs %}
          <div class="popular-post">
            <a
              title="offre d'emploi {{ recentJob.slug }}"
              href="{{ path('app_job_detail', { slug: recentJob.slug }) }}"
            >
              <img
                src="{{ asset('uploads/images/jobImages'~asset(recentJob.image)) | imagine_filter('job_min_image')}}"
                data-src="{{ absolute_url(asset('uploads/images/jobImages'~asset(recentJob.image))) | imagine_filter('job_min_image')}}"
                alt="image  offre d'offre d'emplois {{ recentJob.slug }}"
              />
            </a>
            <div>
              <h6 class="fw-normal">
                <a
                  title="offre d'emploi {{ recentJob.slug }}"
                  href="{{ path('app_job_detail', { slug: recentJob.slug }) }}"
                  >{{ recentJob.title |slice(0, 30) }}...</a
                >
              </h6>
              <span>
                {% if job.expiredAt is not empty %}
                {{ job.expiredAt().format("M") }}
                {{ job.expiredAt().format("j") }},
                {{ job.expiredAt().format("Y") }}
                {% else %} Durée indéterminée {% endif %}
              </span>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Sidebar box 6 - Facebook Like box -->
        <div class="sidebar-box text-center">
          <h6 class="font-small fw-normal uppercase">
            Partager cette offre d'emploi
          </h6>
          <ul class="list-inline">
            <li>
              <a href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- end Blog Sidebar -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end Blog section -->
{% set submit_url = path('app_job_detail', { slug: job.slug }) %} {% include
'candidature/apply_modal.html.twig' with {url: submit_url} %}
{{ include("./includes/footer.html.twig") }}

<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
{% endfor %}
<!-- end Scroll to top button -->
{% endblock %}
