{% if jobs |length > 0 %} {% for job in jobs %}
<div class="padding-y-30 padding-y-lg-40 border-bottom">
  <div class="row g-3 align-items-center">
    <div class="col-12 col-lg-8">
      <h5 class="fw-normal margin-0">
        <a
          class="text-link-5"
          href="{{ path('app_job_detail', { slug: job.slug }) }}"
          >{{ job.title | upper }}</a
        >
      </h5>
      <h6 class="font-small fw-normal uppercase">
        <a class="text-link-0" href="#">{{ job.categoryJob | capitalize }}</a>
      </h6>
      <p class="text-black-03">
        <i class="bi bi-clock-history margin-right-10"></i
        ><span>
          {% if job.expiredAt is not empty %}
          {{ job.expiredAt().format("M") }}
          {{ job.expiredAt().format("j") }},
          {{ job.expiredAt().format("Y") }}
          {% else %} Durée indéterminée {% endif %}
        </span>
      </p>
      <p class="text-black-03">
        <i class="fas fa-map-marker-alt margin-right-10"></i
        ><span>
          {% for adresse in job.adresses %}
          {{ adresse }}, {% endfor %}
        </span>
      </p>
      {#
      <p class="text-black-03">
        Ref:<span style="font-size: 10px">
          {{ job.ref }}
        </span>
      </p>
      #}
    </div>
    <div class="col-12 col-lg-4 text-lg-end">
      <a
        class="button button-lg button-radius button-reveal-right-outline-dark"
        href="{{ path('app_job_detail', { slug: job.slug }) }}"
      >
        <i class="bi bi-arrow-right"></i><span>Détail</span>
      </a>
    </div>
  </div>

  <!-- end row -->
</div>
{% endfor %} {% else %}
<p>Aucune offre d'emploi n'est disponibles pour l'instant</p>
{% endif %} 
