<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-2">
            {{ form_start(form,{'action': url, label: false, attr: {class: "form-style-3"}}) }}
            <div class="modal-header">
                <h6>Ma Candidature </h6>
                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body p-3">
                {{
                form_row(form.message, {
                    label: false,
                    attr: {
                        maxlength: "500",
                        placeholder: "Vos motivations pour vous démarquez (soyez le plus bref possible)...",
                    }
                })
                }}
                {% if app.user %}
                    {% if app.user.candidateResume.cv %}
                    <a href="{{ asset('uploads/files/user/cvs/' ~ app.user.candidateResume.cv) }}" target="_blank" class="button button-fancy-1-outline ">Voir mon CV (PDF)</a>
                        {% endif %}
                {% endif %}
                <div class="mt-3 px-4">
                    <div class="d-flex flex-row align-items-center mt-2">
                        <div class="ml-3">
                            {{ form_row(form.cv) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a type="button" class="button button-radius text-bg-danger" data-dismiss="modal">Fermer</a>
                <button type="submit" class="button button-xs button-radius button-outline-dark-2">Enregistrer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>